<h1 class="mt-4">ADMIN Dashboard</h1>
<img src= <%= user.imageUrl  %>  alt=""> 
<p class="lead mb-3">Welcome to Admin Dashboard  <%= user.email %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<a href="/reminders" class="btn btn-secondary">Reminders</a>
<a href="/admin/users" class="btn btn-secondary">View All Users</a>




