<div class="container">
    <h1 class="page-header">Edit</h1>
    <form action=<%= "/admin/user/edit/" + user.id %> method="POST">
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" name="name" class="form-control" id="titleInput" value="<%= user.name %>">
      </div>
      <div class="form-group">
        <label for="description">Email</label>
        <input class="form-control" id="titleInput" name="email" value="<%= user.email %>">
      </div>
  
      <div class="form-group">
        <label for="completed">Admin</label>
        <div class="radio">
          <label>
            <% if (user.isAdmin == true) { %>
              <input type="radio" name="isAdmin" id="true" value="true" checked="checked">
            <% } else { %>
              <input type="radio" name="isAdmin" id="true" value="true">
            <% } %>
            True
          </label>
        </div>
        <div class="radio">
          <label>
            <% if (user.isAdmin == false) { %>
              <input type="radio" name="isAdmin" id="false" value="false" checked="checked">
            <% } else { %>
              <input type="radio" name="isAdmin" id="false" value="false">
            <% } %>
            False
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="completed">suspended</label>
        <div class="radio">
          <label>
            <% if (user.suspended == true) { %>
              <input type="radio" name="suspended" id="true" value="true" checked="checked">
            <% } else { %>
              <input type="radio" name="suspended" id="true" value="true">
            <% } %>
            True
          </label>
        </div>
        <div class="radio">
          <label>
            <% if (user.suspended == false) { %>
              <input type="radio" name="suspended" id="false" value="false" checked="checked">
            <% } else { %>
              <input type="radio" name="suspended" id="false" value="false">
            <% } %>
            False
          </label>
        </div>
      <button type="submit" class=" btn-primary">Submit</button>
    </form>
        <a href="/admin/users" class="badge-danger">Abort</a>
  </div>
  