<h1 class="mt-4">Dashboard</h1>
<img src= <%= user.imageUrl  %>  alt=""> 
<p class="lead mb-3">Welcome <%= user.email %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<a href="/reminders" class="btn btn-secondary">Reminders</a>



